export(mineClusters)
import(mnormt)
importFrom(parallel,makeCluster)
importFrom(parallel,stopCluster)
importFrom(parallel,clusterEvalQ)
importFrom(parallel,clusterExport)
importFrom(MAST,FromMatrix)
importFrom(stats,glm)
importFrom(stats,predict)
importFrom(stats,binomial)
importFrom(caret,createFolds)
importFrom(caret,findCorrelation)
importFrom(MAST,thresholdSCRNACountMatrix)
importFrom(stats,cor)
importFrom(stats,mean)
importFrom(stats,var)
importFrom(stats,dist)
importFrom(SummarizedExperiment,assay)
importFrom(fastcluster,hclust)
importFrom(stats,cutree)
importFrom(stats,findCorrelation)
importFrom(MAST,freq)
importFrom(stats,sum)
importFrom(stats,abs)
importFrom(stats,pgamma)
importFrom(stats,log)
importFrom(MAST,assay)
importFrom(stats,median)
importFrom(stats,optim)
importFrom(doParallel,registerDoParallel)
importFrom(doRNG,"%dorng%")
importFrom(foreach,"%dopar%")
importFrom(foreach,foreach)
importFrom(corpcor,cor.shrink)
importFrom(bigstatsr,FBM)
